.card {
  padding: 20px;
  display: flex;
  gap: 10px;

  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: white;
    background-color: rgb(121, 156, 121);
  }

  &--selected {
    color: white;
    background-color: rgb(119, 187, 119);

    &:hover {
      color: white;
      background-color: rgb(119, 187, 119);
    }
  }

  button {
    height: 20px;
  }

  &__title {
    font-size: 20px;

    &--completed {
      text-decoration: line-through;
    }
  }

  &__checkbox {
    align-self: center;
  }
}